<!-- <%- include('layouts/header') -%>
<%- include('layouts/left-navbar') -%> -->

<!-- 
<div id="container ">
            

            <%- include('layouts/top-navbar')%>

            <% if (page) { %>
                <%- include('pages/'+page)%>
            <% } %>
                            
</div> -->

<!-- <%- include('layouts/footer')%> -->
